# JumpBall in a NBA Game

In this notebook I am going to use Python code to predict which player of a NBA game is more likely to win the jumpball.

https://sportsdatabase.com/NBA/query.html?sdql=&submit=++S+D+Q+L+%21++

The link above is very useful for sport stats. For this case in particular it isn't useful for us because it has no information about jumpballs.

I am going to try to use an API Client for nba.com. Let's see if it works.

In [1]:
pip install nba_api

Collecting nba_api
  Downloading nba_api-1.4.1-py3-none-any.whl (261 kB)
     -------------------------------------- 261.7/261.7 kB 7.9 MB/s eta 0:00:00
Collecting certifi<2024.0.0,>=2023.7.22
  Downloading certifi-2023.11.17-py3-none-any.whl (162 kB)
     -------------------------------------- 162.5/162.5 kB 9.5 MB/s eta 0:00:00
Collecting requests<3.0,>=2.31
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     -------------------------------------- 62.6/62.6 kB 556.7 kB/s eta 0:00:00
Collecting numpy<2.0.0,>=1.22.2
  Downloading numpy-1.26.2-cp39-cp39-win_amd64.whl (15.8 MB)
     --------------------------------------- 15.8/15.8 MB 22.5 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mario\anaconda3\lib\site-packages (from requests<3.0,>=2.31->nba_api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mario\anaconda3\lib\site-packages (from requests<3.0,>=2.31->nba_api) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mario\anaconda3\lib\site-packages (from requests<3.0,>=2.31->nba_api) (1.26.11)
Installing collected packages: numpy, certifi, requests, nba_api
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.5
    Uninstalling numpy-1.21.5:
      Successfully uninstalled numpy-1.21.5
  Attempting uninstall: certifi
    Found existing installation: certifi 2022.9.14
    Uninstalling certifi-2022.9.14:
      Successfully uninstalled certifi-2022.9.14
  Attempting uninstall: requests
    Found existing installation: requests 2.28.1
    Uninstalling requests-2.28.1:
      Successfully uninstalled requests-2.28.1
Successfully installed certifi-2023.11.17 nba_api-1.4.1 numpy-1.26.2 requests-2.31.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
daal4py 2021.6.0 requires daal==2021.4.0, which is not installed.
scipy 1.9.1 requires numpy<1.25.0,>=1.18.5, but you have numpy 1.26.2 which is incompatible.
numba 0.55.1 requires numpy<1.22,>=1.18, but you have numpy 1.26.2 which is incompatible.
conda-repo-cli 1.0.20 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.20 requires nbformat==5.4.0, but you have nbformat 5.5.0 which is incompatible.
conda-repo-cli 1.0.20 requires requests==2.28.1, but you have requests 2.31.0 which is incompatible.

Apparently, I have newer versions of a few packages that are incompatible which causes some dependency conflicts. As I don't know how to solve this, I am going to try something else.

In [2]:
from nba_api.stats.endpoints import playercareerstats

# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203999') 

# pandas data frames (optional: pip install pandas)
career.get_data_frames()[0]

# json
career.get_json()

'{"resource": "playercareerstats", "parameters": {"PerMode": "Totals", "PlayerID": 203999, "LeagueID": null}, "resultSets": [{"name": "SeasonTotalsRegularSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[203999, "2015-16", "00", 1610612743, "DEN", 21.0, 80, 55, 1733.0, 307, 600, 0.512, 28, 84, 0.333, 154, 190, 0.811, 181, 379, 560, 189, 79, 50, 104, 208, 796], [203999, "2016-17", "00", 1610612743, "DEN", 22.0, 73, 59, 2038.0, 494, 854, 0.578, 45, 139, 0.324, 188, 228, 0.825, 212, 506, 718, 359, 61, 55, 171, 214, 1221], [203999, "2017-18", "00", 1610612743, "DEN", 23.0, 75, 73, 2443.0, 504, 1010, 0.499, 111, 280, 0.396, 266, 313, 0.85, 195, 608, 803, 458, 90, 61, 210, 212, 1385], [203999, "2018-19", "00", 1610612743, "DEN", 24.0, 80, 80, 2504.0, 616, 1206, 0.511, 83, 270, 0.307, 289, 352, 0.821, 228, 637, 865, 580, 108, 55, 248, 228, 1604], [203999, "2019-20", "00", 1610612743, "DEN", 25.0, 73, 73, 2335.0, 565, 1071, 0.528, 80, 255, 0.314, 246, 301, 0.817, 166, 545, 711, 512, 85, 44, 226, 222, 1456], [203999, "2020-21", "00", 1610612743, "DEN", 26.0, 72, 72, 2488.0, 732, 1293, 0.566, 92, 237, 0.388, 342, 394, 0.868, 205, 575, 780, 599, 95, 48, 222, 192, 1898], [203999, "2021-22", "00", 1610612743, "DEN", 27.0, 74, 74, 2476.0, 764, 1311, 0.583, 97, 288, 0.337, 379, 468, 0.81, 206, 813, 1019, 584, 109, 63, 281, 191, 2004], [203999, "2022-23", "00", 1610612743, "DEN", 28.0, 69, 69, 2323.0, 646, 1022, 0.632, 57, 149, 0.383, 341, 415, 0.822, 167, 650, 817, 678, 87, 47, 247, 174, 1690], [203999, "2023-24", "00", 1610612743, "DEN", 28.0, 18, 18, 607.0, 205, 359, 0.571, 24, 76, 0.316, 88, 110, 0.8, 62, 175, 237, 166, 21, 13, 55, 44, 522]]}, {"name": "CareerTotalsRegularSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "Team_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[203999, "00", 0, 614, 573, 18946.0, 4833, 8726, 0.553862, 617, 1778, 0.347019, 2293, 2771, 0.827499, 1622, 4888, 6510, 4125, 735, 436, 1764, 1685, 12576]]}, {"name": "SeasonTotalsPostSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[203999, "2018-19", "00", 1610612743, "DEN", 24.0, 14, 14, 556.0, 132, 261, 0.506, 22, 56, 0.393, 66, 78, 0.846, 54, 128, 182, 118, 16, 13, 36, 54, 352], [203999, "2019-20", "00", 1610612743, "DEN", 25.0, 19, 19, 694.0, 178, 343, 0.519, 42, 98, 0.429, 66, 79, 0.835, 37, 150, 187, 109, 20, 15, 62, 68, 464], [203999, "2020-21", "00", 1610612743, "DEN", 26.0, 10, 10, 345.0, 116, 228, 0.509, 20, 53, 0.377, 46, 55, 0.836, 37, 79, 116, 50, 6, 9, 24, 23, 298], [203999, "2021-22", "00", 1610612743, "DEN", 27.0, 5, 5, 171.0, 61, 106, 0.575, 5, 18, 0.278, 28, 33, 0.848, 17, 49, 66, 29, 8, 5, 24, 20, 155], [203999, "2022-23", "00", 1610612743, "DEN", 28.0, 20, 20, 789.0, 227, 414, 0.548, 35, 76, 0.461, 111, 139, 0.799, 69, 200, 269, 190, 21, 20, 70, 69, 600]]}, {"name": "CareerTotalsPostSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "Team_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[203999, "00", 0, 68, 68, 2556.0, 714, 1352, 0.528106, 124, 301, 0.41196, 317, 384, 0.82552, 214, 606, 820, 496, 71, 62, 216, 234, 1869]]}, {"name": "SeasonTotalsAllStarSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[203999, "2018-19", "00", 1610616833, "GNS", 24.0, 1, 0, 13.0, 3, 4, 0.75, 0, 0, 0.0, 0, 0, 0.0, 3, 6, 9, 0, 0, 0, 1, 1, 6], [203999, "2019-20", "00", 1610616834, "LBN", 25.0, 1, 0, 12.0, 2, 4, 0.5, 1, 3, 0.333, 0, 0, 0.0, 0, 2, 2, 1, 1, 0, 0, 1, 5], [203999, "2020-21", "00", 1610616834, "LBN", 26.0, 1, 1, 19.0, 3, 4, 0.75, 0, 0, 0.0, 0, 0, 0.0, 0, 7, 7, 5, 0, 1, 2, 1, 6], [203999, "2021-22", "00", 1610616834, "LBN", 27.0, 1, 1, 21.0, 4, 5, 0.8, 2, 3, 0.667, 0, 0, 0.0, 3, 6, 9, 8, 1, 0, 1, 0, 10], [203999, "2022-23", "00", 1610616834, "LBN", 28.0, 1, 1, 20.0, 2, 4, 0.5, 0, 1, 0.0, 0, 0, 0.0, 3, 2, 5, 6, 2, 0, 2, 0, 4]]}, {"name": "CareerTotalsAllStarSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "Team_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[203999, "00", 0, 5, 3, 86.0, 14, 21, 0.666666, 3, 7, 0.428571, 0, 0, 0.0, 9, 23, 32, 20, 4, 1, 6, 3, 31]]}, {"name": "SeasonTotalsCollegeSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "ORGANIZATION_ID", "SCHOOL_NAME", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "CareerTotalsCollegeSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "ORGANIZATION_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "SeasonTotalsShowcaseSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "CareerTotalsShowcaseSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "Team_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "SeasonRankingsRegularSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "RANK_MIN", "RANK_FGM", "RANK_FGA", "RANK_FG_PCT", "RANK_FG3M", "RANK_FG3A", "RANK_FG3_PCT", "RANK_FTM", "RANK_FTA", "RANK_FT_PCT", "RANK_OREB", "RANK_DREB", "RANK_REB", "RANK_AST", "RANK_STL", "RANK_BLK", "RANK_TOV", "RANK_PTS", "RANK_EFF"], "rowSet": [[203999, "2015-16", "00", 1610612743, "DEN", "NR", "NR", "NR", 152, 112, 135, 18, 223, 227, null, 90, 104, 58, 24, 45, 38, 82, 61, 68, 115, 120, 50], [203999, "2016-17", "00", 1610612743, "DEN", "NR", "NR", "NR", 108, 34, 68, 6, 192, 188, null, 61, 65, 46, 12, 17, 13, 31, 106, 51, 32, 41, 17], [203999, "2017-18", "00", 1610612743, "DEN", "NR", "NR", "NR", 40, 29, 36, 29, 88, 99, 35, 25, 30, 26, 10, 8, 7, 12, 38, 47, 16, 26, 8], [203999, "2018-19", "00", 1610612743, "DEN", "NR", "NR", "NR", 34, 19, 25, 31, 128, 107, 128, 28, 34, 52, 10, 9, 8, 6, 19, 53, 9, 22, 4], [203999, "2019-20", "00", 1610612743, "DEN", "NR", "NR", "NR", 11, 11, 21, 19, 127, 102, 142, 29, 30, 56, 14, 8, 8, 6, 25, 63, 8, 18, 3], [203999, "2020-21", "00", 1610612743, "DEN", "NR", "NR", "NR", 3, 1, 8, 14, 117, 132, 75, 12, 14, 26, 8, 7, 5, 3, 11, 55, 5, 3, 1], [203999, "2021-22", "00", 1610612743, "DEN", "NR", "NR", "NR", 18, 2, 8, 8, 121, 110, 120, 9, 8, 63, 13, 1, 1, 6, 10, 34, 5, 5, 1], [203999, "2022-23", "00", 1610612743, "DEN", "NR", "NR", "NR", 47, 13, 47, 8, 208, 220, null, 23, 22, 58, 25, 3, 3, 2, 28, 62, 5, 17, 1], [203999, "2023-24", "00", 1610612743, "DEN", "NR", "NR", "NR", 16, 1, 3, 14, 106, 82, 145, 16, 13, 74, 5, 1, 1, 2, 30, 54, 13, 2, 1]]}, {"name": "SeasonRankingsPostSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "RANK_MIN", "RANK_FGM", "RANK_FGA", "RANK_FG_PCT", "RANK_FG3M", "RANK_FG3A", "RANK_FG3_PCT", "RANK_FTM", "RANK_FTA", "RANK_FT_PCT", "RANK_OREB", "RANK_DREB", "RANK_REB", "RANK_AST", "RANK_STL", "RANK_BLK", "RANK_TOV", "RANK_PTS", "RANK_EFF"], "rowSet": [[203999, "2018-19", "00", 1610612743, "DEN", "NR", "NR", "NR", 13, 7, 9, 14, 20, 28, 29, 8, 10, 27, 1, 6, 4, 4, 18, 14, 12, 10, 4], [203999, "2019-20", "00", 1610612743, "DEN", "NR", "NR", "NR", 6, 4, 4, 12, 10, 16, 19, 10, 10, 31, 4, 2, 4, 4, 11, 8, 2, 5, 3], [203999, "2020-21", "00", 1610612743, "DEN", "NR", "NR", "NR", 37, 13, 13, 18, 36, 38, 44, 14, 15, 30, 8, 16, 12, 20, 58, 25, 19, 14, 13], [203999, "2021-22", "00", 1610612743, "DEN", "NR", "NR", "NR", 85, 32, 44, 7, 97, 90, 79, 32, 34, 21, 26, 38, 35, 44, 51, 53, 27, 38, 37], [203999, "2022-23", "00", 1610612743, "DEN", "NR", "NR", "NR", 5, 1, 2, 11, 14, 25, 12, 3, 2, 32, 1, 1, 1, 1, 8, 6, 1, 1, 1]]}]}'

Well, apparently it works. Let's explore it a little bit.

In [3]:
from nba_api.live.nba.endpoints import scoreboard
import numpy as np
import pandas as pd

# Today's Score Board
games = scoreboard.ScoreBoard()

data_org = games.get_dict()["scoreboard"]["games"]

gameCode = []
homeTeam = []
awayTeam = []
result = []
winner = []

for game in data_org:
    gameCode.append(game["gameCode"])
    homeTeam.append(game["homeTeam"]["teamName"])
    awayTeam.append(game["awayTeam"]["teamName"])
    result.append(str(game["homeTeam"]["score"])+"-"+str(game["awayTeam"]["score"]))
    if game["homeTeam"]["score"] > game["awayTeam"]["score"]:
        winner.append(game["homeTeam"]["teamName"])
    else:
        winner.append(game["awayTeam"]["teamName"])
    
data = {"gameCode":gameCode,"homeTeam":homeTeam,"awayTeam":awayTeam,"result":result,"winner":winner}

pd.DataFrame(data)

Empty DataFrame
Columns: [gameCode, homeTeam, awayTeam, result, winner]
Index: []

The previous DataFrame has also very useful information but, 1) it only gives information of matches played "today" and 2) it doesn't give information about jumpballs.

I haven't found a dataset that contains that information yet, but for now, this page is very good and gives good information: https://www.degendata.com/data

In [4]:
pip install nba_py

Requirement already satisfied: nba_py in c:\users\mario\anaconda3\lib\site-packages (0.1.1a2)
Requirement already satisfied: requests in c:\users\mario\anaconda3\lib\site-packages (from nba_py) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mario\anaconda3\lib\site-packages (from requests->nba_py) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mario\anaconda3\lib\site-packages (from requests->nba_py) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mario\anaconda3\lib\site-packages (from requests->nba_py) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mario\anaconda3\lib\site-packages (from requests->nba_py) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from nba_py import game

# game.Boxscore("0022300258")

This module looked good but I don't know why it starts loading and doesn't return anything. But this have given me a good idea: to look the playbyplay and get the first play to see who wins it.

In [4]:
gameID = "0022300260"
initial_df = pd.read_json("https://cdn.nba.com/static/json/liveData/playbyplay/playbyplay_"+gameID+".json")

In [5]:
initial_df

,meta,game
version,1,NaN
code,200,NaN
request,http://nba.cloud/games/0022300260/playbyplay?F...,NaN
time,2023-11-29 23:55:52.646780,NaN
gameId,NaN,0022300260
actions,NaN,"[{'actionNumber': 2, 'clock': 'PT12M00.00S', '..."

In [6]:
playbyplay = initial_df.loc["actions"]["game"]

In [7]:
for i in range(len(playbyplay)):
    if playbyplay[i]["actionType"] == "jumpball" and playbyplay[i]["descriptor"] == "startperiod":
        jb_data = [playbyplay[i]]

In [8]:
jb_data

[{'actionNumber': 4,
  'clock': 'PT11M55.00S',
  'timeActual': '2023-11-30T00:40:47.6Z',
  'period': 1,
  'periodType': 'REGULAR',
  'teamId': 1610612756,
  'teamTricode': 'PHX',
  'actionType': 'jumpball',
  'subType': 'recovered',
  'descriptor': 'startperiod',
  'qualifiers': [],
  'personId': 1626164,
  'x': None,
  'y': None,
  'possession': 1610612756,
  'scoreHome': '0',
  'scoreAway': '0',
  'edited': '2023-11-30T00:40:47Z',
  'orderNumber': 40000,
  'isTargetScoreLastPeriod': False,
  'xLegacy': None,
  'yLegacy': None,
  'isFieldGoal': 0,
  'jumpBallRecoveredName': 'D. Booker',
  'jumpBallRecoverdPersonId': 1626164,
  'side': None,
  'playerName': 'Booker',
  'playerNameI': 'D. Booker',
  'personIdsFilter': [1626164, 203994, 1627751],
  'jumpBallWonPlayerName': 'Nurkic',
  'jumpBallWonPersonId': 203994,
  'description': 'Jump Ball J. Nurkic vs. J. Poeltl: Tip to D. Booker',
  'jumpBallLostPlayerName': 'Poeltl',
  'jumpBallLostPersonId': 1627751}]

In [9]:
jumpBallWonPlayerName = []
jumpBallWonPersonId = []
jumpBallLostPlayerName = []
jumpBallLostPersonId = []
index = []

In [10]:
jumpBallWonPlayerName.append(jb_data[0]["jumpBallWonPlayerName"])
jumpBallWonPersonId.append(jb_data[0]["jumpBallWonPersonId"])
jumpBallLostPlayerName.append(jb_data[0]["jumpBallLostPlayerName"])
jumpBallLostPersonId.append(jb_data[0]["jumpBallLostPersonId"])
index.append(gameID)

In [11]:
jb_dict = {"jumpBallWonPlayerName":jumpBallWonPlayerName,"jumpBallWonPersonId":jumpBallWonPersonId,"jumpBallLostPlayerName":jumpBallLostPlayerName,"jumpBallLostPersonId":jumpBallLostPersonId}

In [12]:
jb = pd.DataFrame(jb_dict,index=index)

In [13]:
jb

,jumpBallWonPlayerName,jumpBallWonPersonId,jumpBallLostPlayerName,jumpBallLostPersonId
0022300260,Nurkic,203994,Poeltl,1627751

This is fine for just one game, but we need all the data from this season, so we will need to know all the gameID's of this season.

In [14]:
from nba_api.stats.endpoints import leaguegamefinder

gamefinder = leaguegamefinder.LeagueGameFinder()
games = gamefinder.get_data_frames()[0]
games_2324 = games[games.SEASON_ID.str[-4:] == '2023']
games_2324 = games_2324[games.GAME_ID.str[:2] == '00']
games_2324.head()

C:\Users\Mario\AppData\Local\Temp\ipykernel_9132\1431115019.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  games_2324 = games_2324[games.GAME_ID.str[:2] == '00']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
14,62023,1610612747,LAL,Los Angeles Lakers,0062300001,2023-12-09,LAL vs. IND,W,242,123,...,0.771,12,43,55,25,5,10,18,25,14.0
16,62023,1610612754,IND,Indiana Pacers,0062300001,2023-12-09,IND @ LAL,L,238,109,...,0.879,9,23,32,27,10,7,9,33,-14.0
18,22023,1610612752,NYK,New York Knicks,0022301227,2023-12-08,NYK @ BOS,L,240,123,...,0.741,12,32,44,28,4,3,13,20,-10.0
20,22023,1610612760,OKC,Oklahoma City Thunder,0022301222,2023-12-08,OKC vs. GSW,W,265,138,...,0.861,11,28,39,15,17,7,9,22,2.0
21,22023,1610612748,MIA,Miami Heat,0022301220,2023-12-08,MIA vs. CLE,L,239,99,...,0.667,7,30,37,23,5,5,18,23,-12.0

In [15]:
game_ids = sorted(list(set(games_2324["GAME_ID"])))

In [16]:
len(game_ids)

395

Now, we have all the game_ids of this season. So we have to repeat the same process we did before to get a dataframe with all the data of every opening jumpball of the season.

In [17]:
jb = pd.read_json("jb.json")

In [19]:
from tqdm import tqdm

In [22]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
for game_id in tqdm(game_ids):
    if game_id not in jb.index:
        gameID = game_id
        initial_df = pd.read_json("https://cdn.nba.com/static/json/liveData/playbyplay/playbyplay_"+gameID+".json")
        playbyplay = initial_df.loc["actions"]["game"]
        for i in range(len(playbyplay)):
            if playbyplay[i]["actionType"] == "jumpball" and playbyplay[i]["descriptor"] == "startperiod":
                jb_data = [playbyplay[i]]
        jb = jb.append(pd.DataFrame({"jumpBallWonPlayerName":jb_data[0]["jumpBallWonPlayerName"],"jumpBallWonPersonId":jb_data[0]["jumpBallWonPersonId"],"jumpBallLostPlayerName":jb_data[0]["jumpBallLostPlayerName"],"jumpBallLostPersonId":jb_data[0]["jumpBallLostPersonId"]},index=[gameID]))

 71%|███████   | 280/395 [02:43<01:11,  1.60it/s]

In [ ]:
jb.to_json("jb.json")

In [18]:
jb

,jumpBallWonPlayerName,jumpBallWonPersonId,jumpBallLostPlayerName,jumpBallLostPersonId
12300001,Gobert,203497,Lively II,1641726
12300002,Lively II,1641726,Gobert,203497
12300003,Davis,203076,Looney,1626172
12300004,Vucevic,202696,Lopez,201572
12300005,Metu,1629002,Bagley III,1628963
...,...,...,...,...
22300260,Nurkic,203994,Poeltl,1627751
22300261,Jackson Jr.,1628991,Yurtseven,1630209
22300262,Valanciunas,202685,Morris Sr.,202694
22300263,Sengun,1630578,Jokic,203999
22300264,Sabonis,1627734,Zubac,1627826

Now, we have the complete dataset for the opening jumpballs of this season, so we have to start getting some data from it.

In [209]:
jb_personid = list(set(jb["jumpBallWonPersonId"]))
fill = list(set(jb["jumpBallLostPersonId"]))
for n in fill:
    if n not in jb_personid:
        jb_personid.append(n)

In [219]:
jb_analytics = pd.DataFrame(index=[jb_personid],columns=["Name","Won","Total","Avg"])

In [220]:
jb_analytics = jb_analytics.fillna(0)

In [221]:
for gameID in game_ids:
    winner_id = jb.loc[gameID]["jumpBallWonPersonId"]
    loser_id = jb.loc[gameID]["jumpBallLostPersonId"]
    jb_analytics.loc[winner_id,"Name"] = jb.loc[gameID,"jumpBallWonPlayerName"]
    jb_analytics.loc[loser_id,"Name"] = jb.loc[gameID,"jumpBallLostPlayerName"]
    jb_analytics.loc[winner_id,"Won"] += 1
    jb_analytics.loc[winner_id,"Total"] += 1
    jb_analytics.loc[winner_id,"Avg"] = jb_analytics.loc[winner_id,"Won"]/jb_analytics.loc[winner_id,"Total"]
    jb_analytics.loc[loser_id,"Total"] += 1
    jb_analytics.loc[loser_id,"Avg"] = jb_analytics.loc[loser_id,"Won"]/jb_analytics.loc[loser_id,"Total"]

In [222]:
jb_analytics.loc[winner_id,"Won"].values[0]

6

In [223]:
jb_analytics

              Name  Won  Total       Avg
1631105      Duren   10     12  0.833333
1628418     Bryant    1      4  0.250000
1630209  Yurtseven    1      3  0.333333
1630596     Mobley    3      7  0.428571
1631109   Williams   12     20  0.600000
...            ...  ...    ...       ...
203488     Muscala    0      1  0.000000
1630567     Barnes    0      1  0.000000
201577       Lopez    0      1  0.000000
1630191    Stewart    0      2  0.000000
1631095  Smith Jr.    0      2  0.000000

[86 rows x 4 columns]

Here we have the dataframe with the avg of jumpballs won of each player who has jumped at least once.

In [238]:
name = "Gobert"
jb_analytics[jb_analytics["Name"].str.contains(name)]

          Name  Won  Total      Avg
203497  Gobert   11     21  0.52381

In [243]:
name = "Markkanen"
jb_analytics[jb_analytics["Name"].str.contains(name)]

              Name  Won  Total  Avg
1628374  Markkanen    0      7  0.0

I am going to leave this project like this, but it would be interesting to follow it with who is more likely to score the first basket. The following steps of this project would be:
- Get the play by play of every game and get how many tries need each team to score the first basket.
- Then, get which player is the most likely to do so.
- Get a metric of these three values (jumpball, first team to score, player most likely to score).